{% load static %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'favicon.ico' %}" alt="stock icon" style="width:35px;"/>
        <span style="color:#04AA6D; font-weight: 600;">Stock</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active verde" aria-current="page" href="{% url 'listar_stock' %}">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active verde" aria-current="page" href="{% url 'listar_proveedores' %}">Proveedores</a>
          </li>
          <!-- <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
          <a class="btn btn-success ml-3  btn-sm"><i class="fa fa-search white fa-2" aria-hidden="true"></i></a>
        </form>
      </div>
    </div>
  </nav>