{% extends 'base.html'  %}

{% block contenido %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-error" role="alert" style="background-color:lightcoral;">
        {{ message }}
    </div>
    {% endfor%}
{% endif %}

    <h2>ELIMINAR Producto: {{ object }}</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="d-flex align-content-start flex-wrap">
            <div class="card text-dark bg-light mb-3 w-100">
                
                <div class="bd-example p-3 w-100">

                    <p class="alert alert-danger"> ¿Está seguro/a que desea eliminar el producto {{ object.nombre }} de su base de datos?</p>

                </div>
            </div>
            <a class="btn btn-info m-2" href=" {% url 'listar_stock' %} ">
                << Volver
            </a>
            <button class="btn btn-danger m-2">Eliminar</button>
        </div>
    </form>
    
{% endblock %}