{% extends 'base.html'  %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert" style="background-color:lightgreen;">
        {{ message }}
    </div>
    {% endfor%}
{% endif %}


{% block contenido %}
    <h2>Categorias
    <a class="btn btn-success ml-3 btn-sm" href="{% url 'crear_categoria' %}">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
</h2>
    <div class="d-flex align-content-start flex-wrap">

        <table class="table">
            <thead>
              <tr>
                <th scope="col" style="width: 15%;">#</th>
                <th scope="col" style="width: 65%;">Nombre Categoria</th>
                <th scope="col" style="width: 20%;">Acciones</th>
              </tr>
            </thead>
            <tbody>

            {% for objeto in lista_categoria %}
            <tr>
                <th scope="row">{{ objeto.pk }}</th>
                <td> {{ objeto.nombre }}</td>
                <td > 
                    <a class="btn btn-info btn-sm" href="{% url 'actualizar_categoria' objeto.id %}  ">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        
                    </a>
                    <a class="btn btn-danger btn-sm" href=" {% url 'eliminar_categoria' objeto.id %} ">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        
                    </a>

                </td>
            </tr>

            {% endfor %}
            </tbody>
        </table>

        {% include "pagination.html" %}
    </div>

{% endblock %}

